<div class="row g-3 my-2">
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{housepost}}</h3>
                <p class="fs-5">Total Rent Post</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{approved}}</h3>
                <p class="fs-5">Approved Post</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{rejected}}</h3>
                <p class="fs-5">Reject Post</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{saled}}</h3>
                <p class="fs-5">Total Rented</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{users}}</h3>
                <p class="fs-5">Total User</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{houseowner}}</h3>
                <p class="fs-5">Total HouseOwner</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{renter}}</h3>
                <p class="fs-5">Total Renter</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2 text-center">{{totalreneted}}</h3>
                <p class="fs-5">Total Renter Amount</p>
            </div>
        </div>
    </div>
</div>
</div>