{% extends 'base.html'%}
{% load static%}
{% block title %}
Easyrent-Contact Page
{% endblock %}
{% block css %}
<style>
    .update-container {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}
{% block main %}
{% include 'alert.html'%}
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">

            <div class="col-sm-6 mx-auto update-container">
                <div class="contact_1">
                    <h2 class="text-center">CONTACT US</h2>
                </div>
                <form method="post">{% csrf_token %}
                    <div class="contact_2">

                        <input type="text" class="form-control my-2" name="name" placeholder="Name"
                            pattern="[a-zA-Z0-9 a-zA-Z0-9]+" minlength="4" maxlength="20" required>
                        <input type="text" class="form-control my-2" name="email" placeholder="example@gmail.com"
                            pattern=".+@gmail\.com" required>
                        <textarea placeholder="Message" name="about" class="form-control my-2" minlength="10"
                            required></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary w-100" value="SEND">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}