{% extends 'App_Dashboard/base.html' %}
{% load static %}
{% block title %}
Change password
{% endblock %}
{% block css%}
<style>
    .section-conten {
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .section-conten label {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .section-conten input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #666565;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 2px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .errorlist li {
        color: red;
    }
</style>
{% endblock%}
{% block dashboard %}
<section class="section-conten padding-y">
    <h2 class="text-center mb-4">Reset Password</h2>
    <form method="post">{% csrf_token %}
        {{ form }}
        <div class="my-4">
            <button type="submit" class="btn btn-primary w-100">Change Password</button>
        </div>
    </form>
</section>

{% endblock %}