{% extends 'base.html'%}
{% load static %}
{% block title%}EasyRent - Reset password{% endblock%}
{% block css %}
<style>
    .section-container {
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .section-container label {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .section-container input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #666565;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 2px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .errorlist li {
        color: red;
    }
</style>
{% endblock %}
{% block main %}
<div class="section-container">
    <p class="text-center mb-4">Enter your email address below, and we'll email instructions for setting a new one.</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary w-100 mt-3">Send me instructions</button>
    </form>
</div>


{% endblock %}