{% extends 'base.html'%}
{% load static %}
{% block title%}EasyRent - Reset password complete {% endblock%}
{% block css%}
<style>
        .footer {
                position: fixed;
                bottom: 0;
        }
</style>
{% endblock%}
{% block main %}
<div class="container mx-auto alert alert-info text-center" role="alert" style="    margin: 50px 0px;">
        Your new password has been set. You can log in now on the<br>
        <a class="text-primary" href="{% url 'App_Account:login'%}">Log in</a>
</div>
{% endblock %}